<div class="p-5 bg-gray-100 weekly-trending min-h-screen">
  <div class="flex items-start justify-between header-section">
    <h4 class="text-sm font-semibold">WEEKLY TRENDING</h4>
  </div>

  <ul class="mt-4 weekly-trending-list">
    <li class="flex items-start gap-3 mb-5">
      <div
        class="blog-image w-[45%] h-[100px] bg-center bg-no-repeat bg-cover"
        [ngStyle]="{
          'background-image':
            'url(https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg)'
        }"
      ></div>
      <div class="blog-content w-[65%] flex flex-col gap-y-2">
        <div class="flex items-center gap-1">
          <img
            src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
            class="w-6 rounded-full"
            alt="Avatar"
          />
          <span class="text-xs">Ali Husni</span>
        </div>
        <p class="text-sm font-semibold leading-tight">
          The History of Sport: Understanding the Origins and Evolutions of
          Athletic Competition
        </p>
        <span class="text-xs text-gray-400">Jan 26 - 10 Mins read</span>
      </div>
    </li>

    <li class="flex items-start gap-3 mb-5">
      <div
        class="blog-image w-[45%] h-[100px] bg-center bg-no-repeat bg-cover"
        [ngStyle]="{
          'background-image':
            'url(https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg)'
        }"
      ></div>
      <div class="blog-content w-[65%] flex flex-col gap-y-2">
        <div class="flex items-center gap-1">
          <img
            src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
            class="w-6 rounded-full"
            alt="Avatar"
          />
          <span class="text-xs">Ali Husni</span>
        </div>
        <p class="text-sm font-semibold leading-tight">
          The History of Sport: Understanding the Origins and Evolutions of
          Athletic Competition
        </p>
        <span class="text-xs text-gray-400">Jan 26 - 10 Mins read</span>
      </div>
    </li>

    <li class="flex items-start gap-3 mb-5">
      <div
        class="blog-image w-[45%] h-[100px] bg-center bg-no-repeat bg-cover"
        [ngStyle]="{
          'background-image':
            'url(https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg)'
        }"
      ></div>
      <div class="blog-content w-[65%] flex flex-col gap-y-2">
        <div class="flex items-center gap-1">
          <img
            src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
            class="w-6 rounded-full"
            alt="Avatar"
          />
          <span class="text-xs">Ali Husni</span>
        </div>
        <p class="text-sm font-semibold leading-tight">
          The History of Sport: Understanding the Origins and Evolutions of
          Athletic Competition
        </p>
        <span class="text-xs text-gray-400">Jan 26 - 10 Mins read</span>
      </div>
    </li>
  </ul>
</div>
