<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-[70%_30%]">
  <div class="p-5 overview">
    <div class="flex pb-4 border-b border-gray-300 divide-x-2 category-toolbar">
      <div class="time-stamp w-[15%] hidden sm:hidden md:block">
        <h3 class="text-sm font-semibold leading-none">WEDNESDAY</h3>
        <span class="text-gray-400 text-[0.7rem]">February 28, 2023</span>
      </div>

      <ul class="flex items-center pl-5 category-list gap-x-5">
        <li>
          <a href="" class="category-item">NEWS</a>
        </li>
        <li>
          <a href="" class="category-item">SPORT</a>
        </li>
        <li>
          <a href="" class="category-item">TECHNOLOGY</a>
        </li>
        <li>
          <a href="" class="category-item">TRAVEL</a>
        </li>
        <li>
          <a href="" class="category-item">LIFESTYLE</a>
        </li>
      </ul>
    </div>

    <p-tabView>
      <p-tabPanel header="Overview">
        <app-blogs-overview />
      </p-tabPanel>
      <p-tabPanel header="Following">
        <app-blogs-following />
      </p-tabPanel>
    </p-tabView>
  </div>

  <app-trending-posts />
</div>
