<div
  class="sticky flex flex-col w-full h-screen px-10 top-24 right-section gap-y-10"
>
  <div class="recommended-topics">
    <div class="flex items-start justify-between header-section">
      <h4 class="text-sm font-semibold">RECOMMENDED TOPICS</h4>
    </div>

    <div class="flex flex-wrap items-center gap-3 mt-4 topics-list">
      <button
        type="button"
        class="inline-block rounded bg-zinc-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      >
        Angular
      </button>

      <button
        type="button"
        class="inline-block rounded bg-zinc-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      >
        React
      </button>
    </div>
  </div>

  <div class="interested-people">
    <div class="flex items-start justify-between header-section">
      <h4 class="text-sm font-semibold">PEOPLE YOU MIGHT BE INTERESTED</h4>
    </div>

    <div class="flex flex-col mt-4 interested-people-list gap-y-5">
      <div class="flex items-center user-profile gap-x-3">
        <img
          src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
          class="w-12 rounded-full"
          alt="Avatar"
        />

        <div>
          <h6>Chintan bhatt</h6>
          <p class="text-sm text-gray-500 max-w-[80%]">
            The founder & chief designer at your ui team
          </p>
        </div>

        <button
          type="button"
          class="inline-block bg-transparent border border-gray-400 rounded-3xl px-6 pb-2 pt-2.5 text-xs font-sm uppercase leading-normal hover:bg-gray-400 hover:text-white hover:border-gray-400"
        >
          Follow
        </button>
      </div>

      <div class="flex items-center user-profile gap-x-3">
        <img
          src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
          class="w-12 rounded-full"
          alt="Avatar"
        />

        <div>
          <h6>Chintan bhatt</h6>
          <p class="text-sm text-gray-500 max-w-[80%]">
            The founder & chief designer at your ui team
          </p>
        </div>

        <button
          type="button"
          class="inline-block bg-transparent border border-gray-400 rounded-3xl px-6 pb-2 pt-2.5 text-xs font-sm uppercase leading-normal hover:bg-gray-400 hover:text-white hover:border-gray-400"
        >
          Follow
        </button>
      </div>
    </div>
  </div>

  <div class="recently-saved">
    <div class="flex items-start justify-between header-section">
      <h4 class="text-sm font-semibold">RECENTLY SAVED</h4>
    </div>

    <ul class="flex flex-col mt-4 weekly-trending-list gap-y-5">
      <li class="flex items-start gap-3">
        <div class="blog-image w-[45%] h-[130px] bg-red-300"></div>
        <div class="blog-content w-[65%] flex flex-col gap-y-2">
          <div class="flex items-center gap-1">
            <img
              src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
              class="w-6 rounded-full"
              alt="Avatar"
            />
            <span class="text-xs">Ali Husni</span>
          </div>
          <p class="text-sm font-semibold leading-tight">
            The History of Sport: Understanding the Origins and Evolutions of
            Athletic Competition
          </p>
          <span class="text-xs text-gray-400">Jan 26 - 10 Mins read</span>
        </div>
      </li>

      <li class="flex items-start gap-3">
        <div class="blog-image w-[45%] h-[130px] bg-red-300"></div>
        <div class="blog-content w-[65%] flex flex-col gap-y-2">
          <div class="flex items-center gap-1">
            <img
              src="https://tecdn.b-cdn.net/img/new/avatars/2.webp"
              class="w-6 rounded-full"
              alt="Avatar"
            />
            <span class="text-xs">Ali Husni</span>
          </div>
          <p class="text-sm font-semibold leading-tight">
            The History of Sport: Understanding the Origins and Evolutions of
            Athletic Competition
          </p>
          <span class="text-xs text-gray-400">Jan 26 - 10 Mins read</span>
        </div>
      </li>
    </ul>
  </div>
</div>
